@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-family: sans-serif;
  color: #002b36; }

body {
  font-family: sans-serif;
  margin: 0; }

a:hover {
  color: #002b36; }

br {
  margin-bottom: .618em; }

hr.spektrum {
  border: 0;
  height: 1px;
  background: #002b36;
  background-image: linear-gradient(to right, #005E9D, #FFDA1A);
  margin-top: .618em;
  margin-bottom: .618em; }

hr.spektrum1 {
  border: 0;
  height: 1px;
  background: #002b36;
  background-image: linear-gradient(to right, #FFDA1A, #FF7F3B);
  margin-top: .618em;
  margin-bottom: .618em; }

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #005E9D, #FFDA1A);
  margin-top: 0.618em;
  margin-bottom: 0.618em; }

ul.circle {
  list-style-type: circle; }

ul.square {
  list-style-type: square; }

ol.u-roman {
  list-style-type: upper-roman; }

ol.l-roman {
  list-style-type: lower-roman; }

ol.greek {
  list-style-type: lower-greek; }

ol.hebrew {
  list-style-type: hebrew; }

ol.hiragana {
  list-style-type: hiragana; }

ol.hiragana-iroha {
  list-style-type: hiragana-iroha; }

ol.katakana {
  list-style-type: katakana; }

ol.katakana-iroha {
  list-style-type: katakana-iroha; }

blockquote {
  padding: .618em;
  color: #073642;
  font-size: 1.2em;
  font-family: monospace;
  background-color: #fdf6e3; }

section {
  padding: 1.618em;
  border: 1em solid rgba(0, 0, 0, 0);
  margin-bottom: 2em; }
  section::after {
    content: '';
    display: table;
    clear: both; }
  section:last-child {
    margin-bottom: 0; }
  section h1, section h2, section h3 {
    margin-top: .382em;
    margin-bottom: .618em; }
  section h2, section h3 {
    text-transform: capitalize; }
  section h1 {
    color: rgba(0, 43, 54, 0.83);
    font-size: 2em;
    text-transform: uppercase; }
    section h1 .strong {
      color: #268bd2;
      font-weight: bold;
      text-transform: lowercase; }
  section article {
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66667%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 2em;
    font-size: 1.2em; }
    section article::after {
      content: '';
      display: table;
      clear: both; }
    section article:last-child {
      margin-right: 0%; }
    section article span {
      font-style: italic;
      color: #93a1a1; }
    section article h2 {
      font-size: 1.618em;
      font-weight: bold;
      color: rgba(0, 43, 54, 0.618); }
      section article h2 a {
        text-decoration: none;
        color: inherit; }
    section article h3 {
      color: rgba(0, 43, 54, 0.382); }
    section article p {
      margin-bottom: .618em; }
    section article a {
      color: #268bd2; }
    section article ul {
      list-style-type: hebrew; }
  section aside {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%;
    color: #839496; }
    section aside::after {
      content: '';
      display: table;
      clear: both; }
    section aside:last-child {
      margin-right: 0%; }
    section aside h2, section aside h3 {
      color: #93a1a1;
      text-transform: capitalize; }
    section aside a {
      color: #268bd2; }

.subtitle {
  font-size: .618em;
  font-weight: lighter;
  color: #839496;
  font-style: italic;
  margin-bottom: .618em; }

.strong {
  color: #268bd2;
  font-weight: bold;
  text-transform: lowercase; }

.omslag {
  background-color: #eee8d5;
  border-radius: 2em 1em 4em / 0.5em 3em;
  padding: 1em; }
  .omslag ol {
    list-style-position: inside; }
    .omslag ol li {
      color: #073642; }

.beskrivning {
  margin-top: 2em;
  margin-bottom: 3em;
  border: 0.618em solid rgba(0, 0, 0, 0);
  text-align: center; }
  .beskrivning h2 {
    font-size: 2em;
    margin-bottom: 1em; }
  .beskrivning p {
    font-size: 1.3em; }

.work figure {
  margin-bottom: 1em; }

.work a {
  opacity: .5; }
  .work a:hover {
    opacity: 1; }

.blog article {
  margin-bottom: .618em; }

.blog p {
  padding: 1em;
  line-height: 1.5; }
  .blog p:last-child {
    padding: 0; }

.blog a:hover {
  color: #268bd2; }

.blog .meta {
  padding: 0 .618em; }
  .blog .meta span {
    color: #839496; }

#main {
  min-height: 500px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row; }
  #main > article {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
    font-size: 1.2em; }
    #main > article::first-letter {
      font-size: 3.236em;
      float: left;
      line-height: 1;
      margin: 0 5px; }
  #main > nav {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
    text-align: center; }
  #main > aside {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3; }

header, footer {
  display: block;
  padding: 1em;
  border-radius: 2em 1em 4em / 0.5em 3em;
  background: #268bd2;
  color: #fdf6e3;
  text-align: center; }

.footer {
  background-image: url("../img/cover-ett.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.83;
  padding: 2em;
  background-color: #002b36;
  color: white;
  text-align: center;
  border-radius: 2em 1em 4em / 0.5em 3em; }
  .footer strong {
    color: #FFDA1A;
    font-size: 1em; }
  .footer h2, .footer h3, .footer p {
    text-shadow: 0 0 2px #fff; }
  .footer h2 {
    font-size: 1.618em; }
  .footer h3 {
    font-size: 1.2em;
    color: #268bd2; }

#prev {
  float: left;
  color: #FFDA1A; }

#next {
  float: right;
  color: #005E9D; }

.temp p {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
  background-color: #FFDA1A;
  color: #005E9D; }

.lowercase {
  text-transform: lowercase; }

figure {
  margin-top: 1em;
  margin-bottom: 1em; }
  figure img {
    vertical-align: middle;
    max-width: 100%;
    height: auto; }
  figure figcaption {
    color: #859900;
    text-align: center;
    font-style: italic;
    font-size: smaller; }

.bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/img_parallax-top.jpg");
  min-height: 100%; }

.bgimg-2 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/img_parallax-middle-small.jpg");
  min-height: 400px; }

.parallax-inlagg {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px; }

.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/img_parallax-bottom.jpg");
  min-height: 400px; }

.parallax-top {
  background-image: url("../img/cover-ett.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; }

.parallax-m {
  background-image: url("../img/parallax-m.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; }

.headerwrap {
  position: absolute;
  box-sizing: border-box;
  border: 2em solid rgba(0, 0, 0, 0);
  left: 25%;
  top: 25%;
  width: 100%;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000; }
  .headerwrap strong {
    font-size: 1em;
    color: #FFDA1A; }
  .headerwrap span {
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.83);
    border-radius: 2em 1em 4em / 0.5em 3em;
    padding: 0 1em;
    color: whitesmoke;
    text-transform: capitalize; }
  .headerwrap sup {
    font-size: .618em;
    color: #FF7F3B;
    font-weight: 100;
    text-transform: lowercase; }
  .headerwrap h2 {
    color: white;
    padding-right: 1em; }
  .headerwrap h4 {
    color: white;
    font-size: 1.25em; }
  .headerwrap p {
    color: white; }

.caption {
  position: absolute;
  left: 0;
  top: 38.2%;
  width: 100%;
  text-align: center;
  color: #000; }
  .caption span.border {
    background-color: rgba(0, 0, 0, 0.83);
    color: #fff;
    padding: 18px;
    font-weight: 100;
    font-size: 25px; }
  .caption strong {
    color: #268bd2;
    font-weight: bold; }

/* VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MIXINS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* DEFAULT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  color: #002b36; }

section {
  margin-bottom: 40px; }
  section::after {
    content: '';
    display: table;
    clear: both; }
  section:last-child {
    margin-bottom: 0; }

h2 {
  margin-bottom: 20px; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

/* WRAPPER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  text-align: center;
  margin-top: 40px;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .wrapper::after {
    content: '';
    display: table;
    clear: both; }

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header nav {
  width: auto;
  max-width: 90%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  header nav::after {
    content: '';
    display: table;
    clear: both; }
  header nav a {
    color: #222;
    opacity: .5;
    border: 1px dashed #e0e0e0;
    padding: 12px 0;
    margin-bottom: 8px;
    border-radius: 7px;
    display: block; }
    header nav a:hover {
      opacity: 1; }

/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
main {
  padding: 15px; }

/* SECTION.ABOUT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about .photo {
  display: none; }
  .about .photo img {
    border-radius: 100%; }

/* SECTION.PROJECT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project {
  padding: 15px;
  border: 1px solid #ededed; }
  .project p {
    padding: 10px;
    margin-bottom: 5px; }
  .project a {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 25.75%;
    margin-right: 3%;
    color: #222;
    background: #ededed;
    border: 1px solid #222;
    font-weight: bold;
    padding: 8px; }
    .project a::after {
      content: '';
      display: table;
      clear: both; }
    .project a:last-child {
      margin-right: 0%; }

/* SECTION.SERVICES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.services h3 {
  padding: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #e0e0e0; }

.services div {
  margin-bottom: 10px;
  border: 2px solid #e0e0e0; }
  .services div p {
    line-height: 1.7;
    padding: 15px; }

.services a {
  color: dodgerblue; }
  .services a:hover {
    color: #005db7; }

/* SECTION.WORK STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.work h3 {
  padding: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #e0e0e0; }

.work figure {
  margin-bottom: 15px; }

.work a {
  color: #222;
  opacity: .5; }
  .work a:hover {
    opacity: 1; }

/* SECTION.BLOG STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blog h3 {
  padding: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #e0e0e0; }

.blog article {
  margin-bottom: 10px;
  border: 1px solid #e0e0e0; }

.blog p {
  padding: 12px;
  line-height: 1.7; }
  .blog p:last-child {
    padding: 0; }

.blog a {
  color: dodgerblue; }
  .blog a:hover {
    color: #005db7; }

.blog .meta {
  padding: 0 10px;
  border-top: 1px dashed #e0e0e0; }
  .blog .meta span {
    color: #e0e0e0; }

/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer h3 {
  padding: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #e0e0e0; }

footer div {
  width: auto;
  max-width: 700px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  footer div::after {
    content: '';
    display: table;
    clear: both; }
  footer div a {
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    color: #222;
    opacity: .5;
    padding: 5px; }
    footer div a::after {
      content: '';
      display: table;
      clear: both; }
    footer div a:last-child {
      margin-right: 0%; }
    footer div a:hover {
      opacity: 1; }

/* MQ-XS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 414px) {
  .work figure {
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%; }
    .work figure::after {
      content: '';
      display: table;
      clear: both; }
    .work figure:nth-child(n) {
      margin-right: 3%;
      float: left;
      clear: none; }
    .work figure:nth-child(2n) {
      margin-right: 0%;
      float: right; }
    .work figure:nth-child(2n + 1) {
      clear: both; } }

/* MQ-SM STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  header nav {
    width: auto;
    max-width: 60%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    header nav::after {
      content: '';
      display: table;
      clear: both; }
    header nav a {
      float: left;
      clear: none;
      text-align: inherit;
      width: 17.6%;
      margin-left: 0%;
      margin-right: 3%;
      border: none;
      margin-bottom: 15px; }
      header nav a::after {
        content: '';
        display: table;
        clear: both; }
      header nav a:last-child {
        margin-right: 0%; }
  .services div {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%; }
    .services div::after {
      content: '';
      display: table;
      clear: both; }
    .services div:last-child {
      margin-right: 0%; }
  .blog article {
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%; }
    .blog article::after {
      content: '';
      display: table;
      clear: both; }
    .blog article:last-child {
      border-left: none; } }

/* MQ-MD STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 800px) {
  .about .photo {
    display: block;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%; }
    .about .photo::after {
      content: '';
      display: table;
      clear: both; }
    .about .photo:last-child {
      margin-right: 0%; }
  .about .info {
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%; }
    .about .info::after {
      content: '';
      display: table;
      clear: both; }
    .about .info:last-child {
      margin-right: 0%; }
    .about .info p {
      margin-bottom: 10px;
      padding: 5px; }
  .project p {
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%;
    margin-bottom: 0; }
    .project p::after {
      content: '';
      display: table;
      clear: both; }
    .project p:last-child {
      margin-right: 0%; }
  .project a {
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -77.25%; }
    .project a::after {
      content: '';
      display: table;
      clear: both; }
    .project a:last-child {
      margin-right: 0%; }
  .work figure {
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%; }
    .work figure::after {
      content: '';
      display: table;
      clear: both; }
    .work figure:nth-child(n) {
      margin-right: 3%;
      float: left;
      clear: none; }
    .work figure:nth-child(3n) {
      margin-right: 0%;
      float: right; }
    .work figure:nth-child(3n + 1) {
      clear: both; } }

/* MQ-LG STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 960px) {
  main {
    border: 3px solid #fafafa; } }

.mork {
  color: #839496; }

.ljus {
  color: #fdf6e3; }

.lighter-gray {
  -webkit-filter: grayscale(38.2%);
  -moz-filter: grayscale(38.2%);
  -ms-filter: grayscale(38.2%);
  -o-filter: grayscale(38.2%);
  filter: grayscale(38.2%);
  filter: gray; }

.darker-gray {
  -webkit-filter: grayscale(61.8%);
  -moz-filter: grayscale(61.8%);
  -ms-filter: grayscale(61.8%);
  -o-filter: grayscale(61.8%);
  filter: grayscale(61.8%);
  filter: gray; }

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; }

.topnav {
  overflow: hidden;
  background-color: #002b36;
  border-radius: 2em 1em 4em / 0.5em 3em; }
  .topnav a {
    float: left;
    color: #fdf6e3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold; }
    .topnav a:hover {
      background-color: #005E9D;
      color: #FFDA1A; }
    .topnav a.active {
      background-color: #268bd2;
      color: #FFDA1A; }
    .topnav a.right {
      float: right;
      color: #FFDA1A; }
      .topnav a.right:hover {
        color: #FFDA1A; }

.inlaggstopnav {
  overflow: hidden;
  background-color: #FFDA1A;
  border-radius: 2em 1em 4em / 0.5em 3em; }
  .inlaggstopnav a {
    float: left;
    color: #002b36;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
    .inlaggstopnav a:hover {
      background-color: #005E9D;
      color: #FFDA1A; }
    .inlaggstopnav a.active {
      background-color: #268bd2;
      color: #fdf6e3; }
    .inlaggstopnav a.right {
      float: right;
      color: #2aa198; }
      .inlaggstopnav a.right:hover {
        color: #FFDA1A; }

.center {
  padding: 16px;
  text-align: center; }

.content {
  padding: 16px; }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }
  #myImg:hover {
    opacity: 0.7; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }

.mySlides {
  display: none; }

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto; }

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  text-shadow: 2px 2px 4px #000000; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
